{% extends "base.html" %}

{% block content %}
<div class="aboutContent">
<h1>About CharlieChat</h1>
<p>CharlieChat is a web application</p>

<h2>How to use (for AVIOS)</h2>
<p>The <a href="/">main app</a> is simple to operate. The majority of the screen is dedicated to a log of the conversations you've had with CharlieChat. Your input is in blue and aligned to the right, the app's in gray and aligned to the left. At the bottom is where you interact with the app. You can type queries in the text box and submit or hit &lsquo;speak&rsquo; and have it put what you say into the text box.</p>
<p>Beneath the text box is a checkbox. The default checked means that once you finish speaking, it will submit your query automatically. To change this functionality and let you edit the recognition results, simply uncheck the box.</p>
<p>The button at the very bottom lets you clear the messages from the chat log at the top. It will also delete your message history!</p>

<h3>Limitations</h3>
<ul>
    <li>The &lsquo;speak&rsquo; button will be grayed out in the browsers it doesn&rsquo;t support, which currently is every browser other than Chrome (desktop and Android) and Opera (desktop).</li>
    <li>You&rsquo;ll need an Internet connection to continue making queries.</li>
</ul>

<h3>Accounts</h3>

<h2>Example Dialogs</h2>

<h2>Team members</h2>
<dl>
    <dt>Heather Lourie</dt>
        <dd> </dd>
    <dt>Jessica Huynh</dt>
        <dd> </dd>
    <dt>Thomas Zhang</dt>
        <dd> </dd>
    <dt>Xinhao Wang</dt>
        <dd> </dd>
</dl>

<h2>Technologies</h2>

</div>

<p class="returnMain"><a href="/">Go to CharlieChat app</a></p>
{% endblock content %}