<!DOCTYPE html>
<html>
    <head>
        <title>CharlieChat</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>

    <script src="//code.jquery.com/jquery-3.1.1.slim.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</html>