{% extends "base.html" %}

{% block content %}
<h3>
  Hello CharlieChat!
</h3>

<!-- test_login -->
{% if request.user.is_authenticated %}
Hi '{{ request.user.username }}' You are logged in now.<a href="/logout">Sign out</a>
{% else %}
You are using as a public user. <a href="/login">Sign in</a>.
{% endif %}

<form method="post">
  {% csrf_token %}
  <input id="geo_loc" name="geo_loc">
  <div class="row">
      <div class="two columns">
        <input class="button u-full-width" type="button" value="speak" id="speakInput">
      </div>
      <div class="eight columns">
        <input class="u-full-width" id="userInputBox" name="query" type="text" placeholder="Say (or type) something!">
      </div>
      <div class="two columns">
        <input class="button-primary u-full-width" type="submit" value="Submit" onclick="getLocation()">
      </div>
  </div>
</form>

<pre>{{ messages }}</pre>

<!-- test_geoloc -->
<br /><br />
<p>Click the button below to get current coordinates.</p>
<button onclick="getLocation()">Where am I?</button>
<button onclick="clearLocation()">Clear</button>

{% endblock content %}
