{% extends "base.html" %}

{% block content %}
<div id="messages">
  {% for message in messages %}
  <div class="dialog-bubble {{message.author}}-msg"><div class="inner-bubble">{{message.msg}}</div></div>
  {% endfor %}
</div>

<!-- test_login -->
<form method="post" id="queryForm">
{% if request.user.is_authenticated %}
Hi '{{ request.user.username }}' You are logged in now.<a href="/logout">Sign out</a>
{% else %}
You are using as a public user. <a href="/login">Sign in</a>.
{% endif %}

  {% csrf_token %}
  <input id="geo_loc" name="geo_loc" hidden>
  <div class="row">
      <div class="two columns">
        <input class="button u-full-width" type="button" value="speak" id="speakInput">
      </div>
      <div class="eight columns">
        <input class="u-full-width" id="userInputBox" name="query" type="text" placeholder="Say (or type) something!">
      </div>
      <div class="two columns">
        <input class="button-primary u-full-width" type="submit" value="Submit" onclick="getLocation()">
      </div>
  </div>
  <div class="row">
    <div class="two columns">
      <a href="/about">About</a>
    </div>
    <div class="eight columns">
      <label for="autoSubmit">
        <input type="checkbox" id="autoSubmit" checked>
        <span class="label-body">Automatically submit after finishing speaking</span>
      </label>
    </div>
    <div class="two columns">
      <a href="#">Help</a>
    </div>
  </div>
  <!-- clear session -->
  <div class="row">
   <input class="button-primary u-full-width" name="clear_messages" type="submit" value="Clear Messages">
  </div>
</form>

{% endblock content %}
