{% extends "base.html" %}

{% block content %}
<h3>
  Hello CharlieChat!
</h3>

<form method="post">
  <div class="row">
      <div class="two columns">
        <input class="button u-full-width" type="button" value="speak" id="speakInput">
      </div>
      <div class="eight columns">
        <input class="u-full-width" id="userInputBox" type="text" placeholder="Say (or type) something!">
      </div>
      <div class="two columns">
        <input class="button-primary u-full-width" type="submit" value="Submit">
      </div>
  </div>
</form>
{% endblock content %}
